.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list .comment {

	margin: 0;
	padding: $base-line-height auto $base-line-height;

	@media #{ $mq-lg-up } {
		padding-top: $base-line-height * 2;
		padding-bottom: $base-line-height * 2;
	}

	& + .comment {
		border-top: 1px solid $border-color;
		margin-top: 0;
		padding-top: $base-line-height;

		@media #{ $mq-lg-up } {
			padding-top: $base-line-height * 2;
		}

	}

	.children {
		list-style: none;
		margin: 0 0 0 $gutter-width;
		padding: 0;

		.comment {
			padding-left: $gutter-width;
		}

	}
}


.comment-meta {

	margin-bottom: $base-line-height;
	padding-left: calc( #{ $comment_avatar_width } + #{ $gutter-width } );

	.avatar	 {
		width: $comment_avatar_width;
		height: $comment_avatar_width;
		float: left;
		margin-left: calc( #{ -1 * $comment_avatar_width } - #{ $gutter-width } );
		border-radius: 2px;
	}

	.comment-author {
		@include font-heading;
		color: $hm-dark-grey;

		a {
			color: inherit;
		}
	}

	.comment-metadata {
		@include text-sm;

		a {
			color: inherit;
		}
	}

	.edit-link {
		display: none;
	}
}

.comment-reply-link {
	@extend .btn;
	@extend .btn--small;
	@extend .btn--tertiary;
}

.comment-reply-title a {
	@extend .btn;
	@extend .btn--small;
	float: right;
}

.comment-awaiting-moderation {
	background: $hm-light-grey;
	border-radius: 2px;
	padding: $base-line-height / 2 $gutter-width;
	margin-left: calc( ( -1 * $comment_avatar_width ) - #{ $gutter-width } );
	clear: both;
}

.comment-form {

	.logged-in-as {

		background: $hm-light-grey;
		border-radius: 2px;
		padding: $base-line-height / 2 $gutter-width;

		a {
			color: inherit;
		}
	}

	label {
		@include font-heading;
		color: $hm-dark-grey;
		@include text-sm;
		margin-top: $base-line-height / 2;
		margin-bottom: 0;
	}

	.submit {
		@extend .btn;
		@extend .btn--secondary;
	}

	input[type="email"],
	input[type="url"] {
		@extend .form__field;
		font-family: $font-family-code;

		&::placeholder {
			font-style: normal;
		}
	}

}
