.site-content {
	padding: $base-line-height $gutter-width;
	max-width: calc( 40rem + #{ $gutter-width * 2 } );

	@media #{ $mq-lg-up } {
		padding: ( $base-line-height * 2 ) ( $gutter-width * 2 );
		max-width: calc( 40rem + #{ $gutter-width * 4 } );
	}
}
