.Footer {

	.hm-link {
		&:hover,
		&:active,
		&:focus {
			color: $hm-red;

			.hm-logo--tiny {
				background-image: url( "#{ $images-path }/logos/logo-tiny-red.svg" );
				opacity: 1;
			}
		}

	}

	.footer-content {
		@include font-body;

		@media #{ $mq-md-up } {
			width: calc( 100% - 250px ); // Same as content area
		}

	}

}

