.site-footer {
	margin-top: $margin-vertical-lg;
	border-top: 1px solid $border-color-light;

	.hm-link {
		&:link,
		&:visited {
			border: none;
			color: $hm-medium-grey;
		}

		.hm-logo--tiny {
			margin-left: 0;
		}

		&:hover,
		&:active,
		&:focus {
			color: $hm-red;

			.hm-logo--tiny {
				background-image: url( "#{ $images-path }/logos/logo-tiny-red.svg" );
				opacity: 1;
			}
		}
	}

	.footer-content {
		@include font-body;

		@media #{ $mq-md-up } {
			width: calc( 100% - 250px ); // Same as content area
		}

	}

}

