.site-header {
	background-color: $hm-primary;
	padding: 1em;

	@media ( min-width: $medium ) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.site-logo {
	margin: 0;
	background-color: lighten( $hm-primary, 5% );
}
