.site-header {

	@extend .util-Clearfix;
	background-color: $color-primary;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;

}

.site-logo {

	width: 100%;
	margin: 0 auto;

	h1 {
		margin: 0;
		padding: 0;
	}

	.HMLogo {

		display: block;
		width: 210px;
		height: 40px;
		margin: calc( ( #{ $base-line-height * 2 } - 40px ) / 2 ) auto;
		margin-top: calc( #{ $base-line-height / 2 } + ( ( #{ $base-line-height * 2 } - 40px ) / 2 ) );

		@media #{ $mq-md-down } {
			margin-left: auto;
			margin-right: auto;
		}

	}

	.site-title  {
		@include font-heading;
		@include text-sm;
		color: $white;
		text-align: center;
		position: relative;
		margin-bottom: -1.5rem;
	}

	@media #{ $mq-md-up } {
		min-width: 250px;
		max-width: 250px;
	}

}

.site-search {

	display: block;
	width: 100%;

	@media #{ $mq-md-up } {
		width: auto;
		flex: 1;
	}

	.StyleGuide_SearchContainer {
		max-width: 900px;
		float: right;

		@media #{ $mq-md-down } {
			padding-top: 0;
		}
	}

}
