
.PageHistory_Diff-Added {
	background: $color-success;
	text-decoration: none;
}

.PageHistory_Diff-Removed {
	background: lighten( $color-primary, 35% );
}

.PageHistory_List_Container {

	width: 100%;
	position: relative;
	margin: $base-line-height 0;
	padding: #{ $base-line-height / 2 } #{ $gutter-width };
	background: $color-pagehistory-background;
	border-radius: 2px;

	@media #{ $mq-md-up } {
		width: 250px;
		position: absolute;
		left: 100%;
		top: 0;
		margin: 0 $gutter-width;
	}

	@media #{ $mq-lg-up } {
		margin: 0 $gutter-width * 2;
	}

	@media ( min-width: 1600px ) {
		margin: 0 #{ $gutter-width * 2 };
	}

}

.PageHistory_List_Container {
	.PageHistory_List + .btn .Loading {
		background-image: url( "#{ $images-path }/icons/icon-spinner-black.svg" );
		background-size: 50%;
		margin-right: 7px;
		opacity: 0.3;
	}
}

.PageHistory_List_Container-Collapsed {

	height: 3rem;
	overflow: hidden;

	.PageHistory_List,
	.PageHistory_List + .btn {
		display: none;
	}

}

.PageHistory_List_Container-Expanded {

	height: auto;

	.PageHistory_List,
	.PageHistory_List + .btn {
		display: block;

		&[disabled] {
			display: none;
		}

	}

}

.PageHistory_List_Title {
	@include text-sm;
	margin-top: 0;
	margin-bottom: 0;
}

.PageHistory_List {

	@include text-sm;
	color: $color-pagehistory-list;
	list-style: none;
	position: relative;
	margin: #{ $base-line-height / 4 } 0;
	padding-left: #{ $gutter-width / 2 };

	&:after {
		content: " ";
		display: block;
		border-left: 1px solid $border-color-darken;
		position: absolute;
		top: $base-line-height / 2;
		bottom: calc( #{ $base-line-height / 2 } + 2px );
		left: $gutter-width / 4 - 1px;
	}

	& + .btn {
		margin: 0;
		padding: 0;
	}

}

.PageHistory_List_Item {

	position: relative;
	padding: 0 0 0 #{ $gutter-width / 2 };

	a {
		padding: #{ $base-line-height / 8 } 0;
		display: block;
	}

	a:link,
	a:visited {
		color: inherit;
		text-decoration: inherit;
		border: none;
	}

	a:hover {
		color: #444;
		text-decoration: underline;
		border: none;
	}

	&:after {
		content: " ";
		display: block;
		width: 5px;
		height: 5px;
		background: $border-color-darken;
		border-radius: 100%;
		position: absolute;
		left: $gutter-width / -4 - 3px;
		top: $base-line-height / 2;
		margin-top: 0;
		z-index: 1;
	}

	&:first-child:after,
	&.PageHistory_List_Item-Active:after {
		width: 9px;
		height: 9px;
		margin-top: -3px;
		left: $gutter-width / -4 - 5px;
	}

	&.PageHistory_List_Item-Active:after {
		background-color: $color-primary;
	}

	&.PageHistory_List_Item-Active + .PageHistory_List_Item:after {
		background-color: $color-pagehistory-list;
	}
}

.PageHistory_Diff {
	@include text-sm;
	display: none; // Only shown when active.
	white-space: pre-wrap;
	background: $color-pagehistory-background;
	padding: $base-line-height / 2 $gutter-width / 2;
	font-family: $font-family-code;
	word-wrap: break-word;
}


.article-showing-diff {

	.article-content {
		display: none;
	}

	.PageHistory_Diff {
		display: block;
	}

}

.btn--toggle {

	background: none;
	border: none;
	position: absolute;
	top: .7775rem;
	right: $gutter-width;
	margin: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
	width: 1.333rem;
	height: 1.333rem;

	&:after {
		position: absolute;
		content: " ";
		background: url( "#{ $images-path }/icons/icon-plus-alt-black.svg" ) no-repeat center center;
		background-size: 100% 100%;
		top: 50%;
		left: 50%;
		width: 18px;
		height: 18px;
		margin-left: -9px;
		margin-top: -9px;
		text-indent: 0;
	}

	&:hover,
	&:focus {

		background: none;
		outline: none;

		&:before {
			background: darken( $color-nav-toggle-background, 40% );
		}
	}


	&.btn--state-expanded:after {
		background-image: url( "#{ $images-path }/icons/icon-minus-alt-black.svg" );
	}

}
