.Pagination {

	@extend .util-Clearfix;

	margin: $base-line-height auto;
	border-top: 1px solid $border-color;
	padding-top: $base-line-height;
	text-align: center;
}

.Pagination-Prev {
	float: left;
	margin-bottom: 0;
}

.Pagination-Next {
	margin-right: 0;
	margin-bottom: 0;
	float: right;
}

.Pagination-Article {

	a {
		@extend .Btn;
		@extend .Btn-Small;
		@extend .Btn-Tertiary;
		margin-right: $gutter-width / 4;
	}

	.Pagination-Current {
		@extend .Btn;
		@extend .Btn-Small;
		@extend .Btn-Secondary;
		margin-right: $gutter-width / 4;
		pointer-events: none;
	}

	.Pagination-Label {
		line-height: 2.25rem;
		margin-right: $gutter-width / 4;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: .75rem;
	}
}
