.site-content-header {

	margin: $base-line-height auto $base-line-height;
	border-bottom: 1px solid $border-color;
	padding-bottom: $base-line-height;

	@media #{ $mq-lg-up } {
		margin-top: $base-line-height * 2;
		margin-bottom: $base-line-height * 2;
	}

	&:first-child {
		margin-top: 0;
	}

	.site-content-header-title {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.site-content-header-title-pre {
		@include text-sm;
		@include font-heading;
		margin-bottom: 0;
	}

}
