.updates {

	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: $gutter-width * 2;

	&--heading {
		margin: 0 0 #{ $gutter-width / 2 };
	}

	&--box {
		margin: 0 0 $margin-vertical-sm;
	}

	&--list {
		margin: 0;
		padding: 0;
	}

	&--list-item {
		list-style: none;
		border-bottom: 1px solid darken( $hm-light-grey, 10% );
		padding: #{ $gutter-width / 3 } 0;

		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	&--link {
		display: block;
		line-height: 1.2;

		&:link,
		&:visited {
			border: none;
			text-decoration: none;
		}
	}

	&--link-meta {
		display: block;
		padding-top: 0.25em;
		font-size: 70%;
		line-height: 1.2;
	}

}
