html {
	min-height: 100%;
	height: 100%;
}

body {
	height: 100%;
}

.site-container {
	@media #{ $mq-md-up } {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		min-height: 100%;
		min-height: calc( 100% - 6rem ); // 6rem = height of header.
	}
}

.site-sidebar {

	padding: $base-line-height $gutter-width;

	@media #{ $mq-md-up } {
		width: 300px;
	}
}

.site-content-container {

	width: 100%;

	@media #{ $mq-md-up } {
		width: calc( 100% - 300px - #{ $gutter-width } );
	}

	@media #{ $mq-lg-up } {
		width: calc( 100% - 300px - #{ $gutter-width * 2 } );
	}
}

.site-content {

	width: 100%;
	padding: $base-line-height $gutter-width;
	float: left;

	@media #{ $mq-md-up } {
		width: calc( 100% - 250px );
		max-width: calc( 40rem + 120px );
	}

	@media #{ $mq-lg-up } {
		padding: ( $base-line-height * 2 ) ( $gutter-width * 2 );
	}
}

.site-content-sidebar {

	width: 100%;
	float: left;

	@media #{ $mq-md-up } {
		width: 250px;
		margin-top: $base-line-height;
	}

	@media #{ $mq-lg-up } {
		margin-top: $base-line-height * 2;
	}
}

.Site_Footer {
	width: auto;
	clear: both;
	margin-top: 0;
	margin-left: $gutter-width;
	margin-right: $gutter-width;

	@media #{ $mq-lg-up } {
		margin-left: $gutter-width * 2;
		margin-right: $gutter-width * 2;
	}
}
