html {
	min-height: 100%;
	height: 100%;
}

body {
	height: 100%;
}

.site-container {
	@media #{ $mq-md-up } {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		min-height: 100%;
		min-height: calc( 100% - 6rem ); // 6rem = height of header.
	}
}

.site-sidebar {

	padding: $margin-vertical-sm $gutter-width * 2;
	min-height: calc( 100vh - 6rem ); // For IE11 & 10

	@media #{ $mq-md-up } {
		width: 300px;
	}
}

.site-content-container {

	width: 100%;
	padding: $margin-vertical-sm $gutter-width * 2;

	@media #{ $mq-md-up } {
		width: calc( 100% - 300px );
		max-width: calc( 40rem + #{ $gutter-width + 250px + $gutter-width * 2 } );
	}

	@media #{ $mq-lg-up } {
		max-width: calc( 40rem + #{ $gutter-width * 2 + 250px + $gutter-width * 4 } );
		padding: $margin-vertical-sm * 2 ( $gutter-width * 4 );
	}
}

.site-content {

	width: 100%;
	float: left;

	@media #{ $mq-md-up } {
		width: calc( 100% - 250px );
		padding-right: $gutter-width;
	}

	@media #{ $mq-lg-up } {
		padding-right: $gutter-width * 2;
	}
}

.site-content-sidebar {

	width: 100%;
	float: left;

	@media #{ $mq-md-up } {
		width: 250px;
	}

}

.site-footer {
	width: 100%;
	clear: both;
	padding-top: 0;
}
