/**
 * Default Colours.
 */

$hm-handbook-colour-green: #daf2d6;
$border-color-darken: darken( $border-color, 10% ) !default;

/**
 * Variable Mapping
 */

// Page History
$color-success: $hm-handbook-colour-green !default;
$color-pagehistory-list: $hm-medium-grey !default;

// Sidebar
$color-sidebar-background: $hm-light-grey !default;

// Login
$login-background-color: $color-primary !default;
$login-logo-image : "#{ $images-path }/logos/logo-white.svg" !default;
$login-form-background : $color-sidebar-background !default;

$comment_avatar_width: 3rem !default;

/**
 * Breakpoints
 */
$mq-lg-up:  "( min-width: 1300px )" !default;

// Legacy
$white: #FFF;
