$images-path: "./../../../vendor/hm-pattern-library/dist/assets/images" !default;

// External
@import "./../../../vendor/hm-pattern-library/src/styles/juniper.scss";

// Base
@import "base/variables";
@import "base/fonts";

.mce-content-body {
	width: 90%;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: auto !important;
}

table {
	margin: $base-line-height auto;
}

.mce-item-table {
	border: none;
}

.mce-item-table td {
	@extend td;
	border-top: none;
	border-left: none;
}

.mce-item-table th {
	@extend td;
	border-top: none;
	border-left: none;
}
