$images-path: "./../../../vendor/hm-pattern-library/assets/images" !default;

// External
@import "./../../../vendor/hm-pattern-library/assets/sass/style";

// Base
@import "base/variables";
@import "base/fonts";

body,
html {
	background-color: $color-primary;
}

.login #backtoblog,
.login #nav {
	a {
		color: $white;
		font-size: 0.9rem;
		&:hover{
			color: $color-accent;
		}
	}
}

#login h1,
.login h1 {
	a {
		background-image: url( "#{ $images-path }/logos/logo-white.svg" );
		background-size: 100%;
		margin-bottom: 0;
		width: 100%;
		height: 80px;
	}
}

#loginform {
	@extend .Form_Field;
	background-color: $color-sidebar-background;
	width: 100%;
}

.login label,
.login form .forgetmenot label,
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
	@extend .Form_Label;
}

.wp-core-ui .button-primary {
	@extend .Btn-Secondary;
	box-shadow: none;
	text-shadow: none;
}