$images-path: "./../../../vendor/hm-pattern-library/assets/images" !default;

// External
@import "./../../../vendor/hm-pattern-library/assets/sass/juniper.scss";

// Base
@import "base/variables";
@import "base/fonts";

body,
html {
	background-color: $login-background-color;
}

#login {
	width: 100%;
	max-width: 520px;
	padding: 8% 15px 0;
}

#login {
	width: 100%;
	max-width: 520px;
	padding: 8% 15px 0;
}

.login #backtoblog,
.login #nav {
	margin: $base-line-height / 2 auto;
	a {
		color: $white;
		@include text-sm;
		&:hover{
			color: $white;
			text-decoration: underline;
		}
	}
}

@media #{ $mq-sm-up } {

	#nav {
		float: right;
	}

	#backtoblog {
		float: left;
	}

}

#login h1,
.login h1 {
	margin-bottom: $base-line-height;

	a {
		background-image: url( $login-logo-image );
		background-size: 100%;
		background-position: center center;
		margin: 0 auto;
		width: 292px;
		height: 56px;
	}
}

#loginform {
	background-color: $login-form-background;
	width: 100%;
	border: none;
	padding: $base-line-height / 2 $gutter-width;
	border-radius: 2px;
}

#user_login,
#user_pass {
	@extend .form__field;
	@extend .form__field--lg;
}

.login label,
.login form .forgetmenot label,
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
	@extend .form__label;
	color: $color-text-heading;
}

.login form .forgetmenot label {
	@include font-body;
	display: inline-block;
	margin-top: .75 * $base-line-height;
}

#wp-submit {
	@extend .btn;
	@extend .btn--secondary;
	@extend .btn--small;
	margin-right: 0;
}
