$images-path: "./../../../vendor/hm-pattern-library/assets/images" !default;

// External
@import "./../../../vendor/hm-pattern-library/assets/sass/style";

// Base
@import "base/variables";
@import "base/fonts";

body,
html {
	background-color: $color-primary;
}

#login {
	width: 100%;
	max-width: 520px;
	padding: 8% 15px 0;
}

.login #backtoblog,
.login #nav {
	margin: $base-line-height / 2 auto;
	a {
		color: $white;
		@include text-sm;
		&:hover{
			color: $white;
			text-decoration: underline;
		}
	}
}

@media #{ $mq-sm-up } {

	#nav {
		float: right;
	}

	#backtoblog {
		float: left;
	}

}

#login h1,
.login h1 {
	margin-bottom: $base-line-height;

	a {
		background-image: url( "#{ $images-path }/logos/logo-white.svg" );
		background-size: 100%;
		background-position: center center;
		margin: 0 auto;
		width: 292px;
		height: 56px;
	}
}

#loginform {
	background-color: $color-sidebar-background;
	width: 100%;
	border: none;
	padding: $base-line-height / 2 $gutter-width;
	border-radius: 2px;
}

#user_login,
#user_pass {
	@extend .Form_Field;
	@extend .Form_Field-Lg;
}

.login label,
.login form .forgetmenot label,
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
	@extend .Form_Label;
	color: $color-text-heading;
}

.login form .forgetmenot label {
	@include font-body;
	display: inline-block;
	margin-top: .75 * $base-line-height;
}

#wp-submit {
	@extend .Btn;
	@extend .Btn-Secondary;
	@extend .Btn-Small;
	margin-right: 0;
}
