$images-path: "./../../../vendor/hm-pattern-library/assets/images" !default;

// External
@import "./../../../vendor/hm-pattern-library/assets/sass/juniper.scss";

// Base
@import "base/variables";
@import "base/layout";
@import "base/fonts";

// Components
@import "components/header";
@import "components/sidebar";
@import "components/footer";
@import "components/article";
@import "components/site-content-header";
@import "components/Pagination";
@import "components/PageHistory";
@import "components/Nav";
@import "components/comments";
@import "components/updates";

.article {
	position: relative;
}

.search-bar {

	.search-bar_Result_Title {
		font-size: 1rem;
		line-height: $base-line-height;
		margin-bottom: .375rem;
	}

	&-Loading .search-bar__submit {

		.Loading {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: $base-line-height / -2;
			margin-left: $base-line-height / -2;
		}

		&:after {
			display: none;
		}

	}

	.search-bar_Results-Info {
		margin: 0 #{ $gutter-width / 2 } #{ $base-line-height / 2 } #{ $gutter-width / 2 };
		border-top: 1px solid desaturate( $color-primary, 5% );
		padding-top: $base-line-height / 2;
		font-size: 1rem;
		line-height: $base-line-height;
		color: #FFF;
	}

}

.widget {
	@include text-sm;
}

.widget-title {
	@include text-md;
}

.widget_text {
	.hm-logo {
		margin-left: 0;
		margin-bottom: 0;
	}

}
