$hm-images: "./../../../vendor/hm-pattern-library/assets/images";

// External
@import "./../../../vendor/hm-pattern-library/assets/sass/style";

// Base
@import "base/variables";
@import "base/layout";
@import "base/fonts";

// Components
@import "components/header";
@import "components/sidebar";
@import "components/footer";
@import "components/article";
@import "components/site-content-header";
@import "components/Pagination";
@import "components/PageHistory";
@import "components/Nav";
@import "components/comments";

.article {
	position: relative;
}

.SearchBar {

	.SearchBar_Result_Title {
		font-size: 1rem;
		line-height: $base-line-height;
		margin-bottom: .375rem;
	}

	&-Loading .SearchBar_Submit {

		.Loading {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: $base-line-height / -2;
			margin-left: $base-line-height / -2;
		}

		&:after {
			display: none;
		}

	}

	.SearchBar_Results-Info {
		margin: 0 #{ $gutter-width / 2 } #{ $base-line-height / 2 } #{ $gutter-width / 2 };
		border-top: 1px solid desaturate( $color-primary, 5% );
		padding-top: $base-line-height / 2;
		font-size: 1rem;
		line-height: $base-line-height;
		color: #FFF;
	}

}
